@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .border-gradient {
    position: relative;
    padding: 1px;
    border-radius: 0.25rem;
    border-bottom-left-radius: 2.25rem;
    /* 36px */
    border-top-right-radius: 2.25rem;
    /* 36px */
    overflow: hidden;
  }

  .border-gradient::before {
    content: "";
    position: absolute;
    top: -4px;
    /* Ajuste conforme necessário */
    left: -4px;
    /* Ajuste conforme necessário */
    right: -4px;
    /* Ajuste conforme necessário */
    bottom: -4px;
    /* Ajuste conforme necessário */
    background: linear-gradient(to bottom right, var(--yellow), var(--purple));
    border-radius: inherit;
    z-index: -1;
  }
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline: 0;
  box-shadow: 0 0 0 2px var(--purple);
}

body {
  background: var(--background);
  color: var(--base-text);
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
}

:root {
  --yellow-dark: #c47f17;
  --yellow: #dbac2c;
  --yellow-light: #F1E9C9;
  --purple-dark: #4b2995;
  --purple: #8047f8;
  --purple-light: #ebe5f9;
  --base-title: #272221;
  --base-subtitle: #403937;
  --base-text: #574f4d;
  --base-label: #8d8686;
  --base-hover: #d7d5d5;
  --base-button: #e6e5e5;
  --base-input: #ededed;
  --base-card: #f3f2f2;
  --background: #fafafa;
  --white: #ffffff;
}

.animation-in-opacity {
  animation: in-opacity 0.2s ease-in;
}

@keyframes in-opacity {
  0% {
    opacity: 0;
  }
}

.animation-slideDown {
  animation: slideDown 0.4s ease-in-out;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

/* intro section */
.hue-rotation-infinite {
  animation: hueRotation 5s ease-in-out infinite;
}
@keyframes hueRotation {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

 /* success */
.plant-animation-loop {
  animation: ContinuousMotion 2s ease-in-out infinite;
  position: absolute;
  bottom: 0;
  z-index: 10;
}

@keyframes ContinuousMotion {
  0% {
    transform: translateX(80vw);
  }

  100% {
    transform: translateX(-80vw);
  }
}

.biker-animation-loop {
  animation: MotionHorizon 4s cubic-bezier(0.83, -0.16, 0.58, 1) infinite;
}

@keyframes MotionHorizon {
  0% {
    transform: translateX(10px);
  }

  50% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(10px);
  }
}

.trail-animation-loop {
  animation: TrailMotion 4s ease-in-out infinite;
}


@keyframes TrailMotion {
  0% {
    transform: translateX(30px);
    opacity: 0;
  }

  50% {
    transform: translateX(-10px);
    transform: translatey(20px);
    opacity: 1;
  }

  100% {
    transform: translateX(30px);
    opacity: 0;
  }

}